html {
  font-size: 10px;
}

.panel {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: white;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: white;
}

.main {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
}

.hide {
  display: none;
}
