#offline-screen {
  display: none;
  width: 100%;
  height: 100%;
  background: #FFF;
  position: absolute;
  z-index: 300;
  transition: opacity linear .5s ;
  opacity: 1;
}

#offline-screen.invisible {
  opacity: 0;
}

#offline-screen.show {
  display: block;
}
